<!DOCTYPE html>
<html>
<head>
  <title>AudioProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="background">
    <img src="assets/sky.jpg">
  </div>
  
<nav>
  <ul>
    <li><a href="/">HOME</a></li>
    <li><a href="/bio">BIO</a></li>
    <li><a href="/photos">PHOTOS</a></li>
    <li><a href="/music">MUSIC</a></li>
    <li><a href="/videos">VIDEOS</a></li>
    <li><a href="/news">NEWS</a></li>
    <li><a href="/tour">TOUR</a></li>
    <li><a href="/contact">CONTACT</a></li>
  </ul>
</nav>

<header>
  <h1> PROJET AUDIO</h1>
</header>

<main>
  <%= yield %>

<footer>
  <table>
    <tr>
  <td>
    <h4> ABOUT PROJET AUDIO <h4>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero nesciunt porro sapiente. Nesciunt voluptatem dolore quas, voluptates, quasi, similique est ad architecto incidunt nihil odit dolorem error iure nam! Quaerat!</p>
  </td>
  <td>
    <h4> ABOUT PROJET AUDIO <h4>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero nesciunt porro sapiente. Nesciunt voluptatem dolore quas, voluptates, quasi, similique est ad architecto incidunt nihil odit dolorem error iure nam! Quaerat!</p>
  </td>
  <td>
    <h4> ABOUT PROJET AUDIO <h4>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero nesciunt porro sapiente. Nesciunt voluptatem dolore quas, voluptates, quasi, similique est ad architecto incidunt nihil odit dolorem error iure nam! Quaerat!</p>
  </td>
</tr>
</table>

  <ul class="links">
    <li>e</li>
   <li>e</li>
    <li>e</li>
     <li>e</li>
      <li>e</li>
       <li>e</li>
        <li>e</li>
         <li>e</li>
          <li>e</li>
  </ul>
  <p class="by">PROJET AUDIO THEME BY MEHDI MAKER</p>
</footer>
</main>
</body>
</html>
